.target {
  border-radius: 50%;
  background: red;
  position: absolute;
  /*animation: targets 3s linear;*/
  /*transition: opacity 3s ease-in-out;*/
}

.tiny {
  width: 1em;
  height: 1em;
}

.small {
  width: 2em;
  height: 2em;
}

.normal {
  width: 3em;
  height: 3em;
}

.large {
  width: 4em;
  height: 4em;
}

.game-timer {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
}

.game-timer h2 {
  font-size: 50px;
}

.game-area {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@keyframes targets {
  0% {
    -webkit-transform: scale(0.2, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 1);
  }
  80% {
    -webkit-transform: scale(0.3, 0.3);
  }
  100% {
    display: none;
    -webkit-transform: scale(0, 0);
  }
}
