.target {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: red;
  position: absolute;
  /*animation: targets 3s linear;*/
}

.game-area {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@keyframes targets {
  0% {
    -webkit-transform: scale(0.2, 0.2);
  }
  40% {
    -webkit-transform: scale(1, 1);
  }
  80% {
    -webkit-transform: scale(0.3, 0.3);
  }
  100% {
    -webkit-transform: scale(0, 0);
  }
}
