.target {
  border-radius: 50%;
  background: red;
  position: absolute;
}

.tiny {
  width: 1em;
  height: 1em;
}

.small {
  width: 2em;
  height: 2em;
}

.normal {
  width: 3em;
  height: 3em;
}

.large {
  width: 4em;
  height: 4em;
}

.game-timer {
  position: absolute;
  width: auto;
  top: 0;
  left: 50%;
}

.game-timer h2 {
  font-size: 50px;
}

.game-area {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
