<div class="container">
  <div class="stats">
    <div>
      <div class="home"><a class="btn btn-primary start" routerLink="/">Home</a></div>
      <h4 class="title">Stats of your last 10 games</h4>
    </div>
    <div style="display: block; max-height: 600px;" *ngIf="_hayStats">
      <canvas baseChart
              [datasets]="_gs.barChartData"
              [labels]="_gs.barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"></canvas>
    </div>
    <div style="display: block; min-height:300px; max-height: 600px;" *ngIf="!_hayStats">
      <span>No stats of previous games.</span>
    </div>

  </div>
</div>
