.intro {
  background-color: #FFF;
  text-align: center;
  margin-top: 4%;
  min-height: 500px;
  padding: 15px;
  box-shadow: 0px 0px 20px 10px #999;
  border-radius: 10px;
}

.intro > div {
  margin-bottom: 20px;
}

span {
  color: #999;
}

.how-span {
  text-align: center;
}

.how-span span {
  display: inline-block;
  max-width: 700px;
}

.target-span {
  display: inline-block;
  width: 100%;
  padding-bottom: 20px;
}

.intro .botones {
  margin-bottom: 0;
}

.intro a {
  position: absolute;
  right: 40px;
  bottom: 10px;
}

.game-done, .game-done p {
  margin-bottom: 0 !important;
}

.game-done {
  font-size: 22px;
}

.targets h3 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.intro h3 {
  padding: 8px;
}

.options {
  display: inline-block;
  background-color: #FAFAFA;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #999;
}

.options > div {
  display: inline-block;
  background-color: white;
  padding-left: 8px;
}

.start {
  margin-top: 25px;
  font-size: 26px;
}
