<div class="container">
  <div class="intro" *ngIf="!_gs.started">
    <div class=""*ngIf="_gs.hasPlayed">
      Has acertado {{ _gs.aciertos }} veces de un total de {{ _gs.total_posibles }} posibles.
      Has fallado en {{ _gs.fallos }} ocasiones.
      Porcentaje de acierto: {{ _gs.porcentaje | number : '1.2-2'}}%
    </div>
    <div class="">
      <h3>Target Spawn Speed</h3>
      <div class="options">
        <div class="option-item" *ngFor="let speed of speed_modes">
          <button type="button"
                  class="btn btn-outline-primary"
                  *ngIf="speed !== speed_default"
                  (click)="cambiarSpeed(speed)">{{ speed }}</button>
          <button type="button"
                  class="btn btn-primary"
                  *ngIf="speed == speed_default">{{ speed }}</button>
        </div>
      </div>
    </div>
    <div class="">
      <h3>Target Size</h3>
      <div class="options">
        <div class="option-item" *ngFor="let size of size_options">
          <button type="button"
                  class="btn btn-outline-primary"
                  *ngIf="size !== size_default"
                  (click)="cambiarSize(size)">{{ size }}</button>
          <button type="button"
                  class="btn btn-primary"
                  *ngIf="size == size_default">{{ size }}</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="newGame()" class="btn btn-success start">Start</button>
    <button type="button" class="btn btn-info start" (click)="modal.open()">Estadisticas</button>
  </div>

  <modal #modal>
      <modal-header>
        <h4 class="modal-title">Estadisticas de tus últimas 10 partidas</h4>
      </modal-header>
      <modal-body>
        <div style="display: block; max-height: 300px;" *ngIf="_hayStats">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
        <div style="display: block; min-height:300px; max-height: 300px;" *ngIf="!_hayStats">
          <span>No hay estadisticas de partidas anteriores.</span>
        </div>
      </modal-body>
      <modal-footer [show-default-buttons]="true" [dismiss-button-label]="'Cerrar'"></modal-footer>
  </modal>
</div>
